@model NavigatorBarModel
@{
    Layout = "_Default";
}
@section css {
    <style>
        #container1 {
            width: 100%;
            height: 430px;
        }

        #container2 {
            width: 100%;
            height: 430px;
            margin-top: 20px;
        }

        #container3 {
            width: 100%;
            height: 430px;
            margin-top: 20px;
        }

        @@media (min-width: 769px) {
            #container2 {
                height: 430px;
                margin-top: 20px;
                float: left;
            }

            #container3 {
                height: 430px;
                margin-top: 20px;
                float: left;
            }
        }
    </style>
}

@section javascript {
    <script src="~/node_modules/echarts/dist/echarts.min.js"></script>
    <script type="text/javascript">

        var myChart1 = echarts.init(document.getElementById("container1"));
        var myChart2 = echarts.init(document.getElementById("container2"));

        $('#btn_repeat').on('click', function () {
            $('#menuSelectA').selectpicker('val', 0);
            $('#menuSelectB').selectpicker('val', 0);
        });

        $.ajax({
            url: '/api/ResponseStatistics/Stack/',
            data: { txt: "成品" },
            type: "get",
            contentType: 'application/json',
            success: function (res) {
                if (res != null) {
                    viewAbinding(res);
                }
            },
            error: function (e) {
                toastr.error(e.responseText);
            }
        });

        $("#menuSelectB").change(function () {
            $.ajax({
                url: '/api/ResponseStatistics/Stack/',
                data: { txt: $("#menuSelectB").val() },
                type: "Get",
                success: function (res) {
                    if (res != null) {
                        viewAbinding(res);
                    }
                },
                error: function (e) {
                    toastr.error(e.responseText);
                }
            });
        });

        function viewAbinding(data) {
            option = {
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                        type: 'line'        // 默认为直线，可选为：'line' | 'shadow'
                    }
                },
                legend: {
                    data: ['开始时间', '准备时间', '完成时间']
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                xAxis: [
                    {
                        type: 'category',
                        data: data.xAxisTitle,
                        axisLabel: { rotate: -60 }
                    }
                ],
                yAxis: [
                    {
                        type: 'value'
                    }
                ],
                series: [{
                    name: '开始时间',
                    type: 'bar',
                    stack: 'rw',
                    data: data.timeA
                }, {
                    name: '准备时间',
                    type: 'bar',
                    stack: 'rw',
                    data: data.timeB
                }, {
                    name: '完成时间',
                    type: 'bar',
                    stack: 'rw',
                    data: data.timeC
                }]
            };
            myChart1.setOption(option, true);
        };

        //$("#menuSelectA").change(function () {
        //    selectedA = $("#menuSelectA").val();
        //    $.ajax({
        //        url: '/api/ResponseStatistics/' + $("#menuSelectA").val(),
        //        type: "get",
        //        contentType: 'application/json',
        //        success: function (res) {
        //            if (res.state == 200) {
        //                //var html = '';
        //                //html += '<option selected value="0">请选择</option>';
        //                //res.data.forEach(function (item, index) {
        //                //    html += '<option value="' + item.name + '">' + item.name + '</option>';
        //                //});
        //                //console.log(html);
        //                //$('#menuSelectB').html(html);
        //                //$('#menuSelectB').selectpicker('refresh');
        //            }
        //        },
        //        error: function (e) {
        //            toastr.error(e.responseText);
        //        }
        //    });
        //});

        $(window).resize(function () {
            myChart1.resize();
        });
    </script>

}
<div class="main-header">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Admin/Index"><i class="fa fa-home"></i>首页</a></li>
        <li class="breadcrumb-item">统计</li>
    </ol>
</div>
<div class="card">
    <div class="card-header">查询条件</div>
    <div class="card-body">
        <form class="form-inline">
            <div class="row">
                <div class="form-group col-sm-6 col-lg-auto">
                    <label class="control-label" for="txt_select">选择类型</label>
                    <div class="input-group flex-sm-fill">
                        <select class="selectpicker selectc group-select" id="menuSelectA" data-dropup-auto="false">
                            <option value="0">请选择</option>
                            @*<option value="signaliolog">支持响应时间统计</option>*@
                            <option value="workshoplog">任务响应时间统计</option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-sm-6 col-lg-auto">
                    <label class="control-label" for="txt_select">选择任务类型</label>
                    <div class="input-group flex-sm-fill">
                        <select class="selectpicker selectc group-select" id="menuSelectB" data-dropup-auto="false">
                            <option value="0">请选择</option>
                            <option value="成品">成品</option>
                            <option value="返料">返料</option>
                            <option value="外纸箱">外纸箱</option>
                            <option value="小纸盒">小纸盒</option>
                            <option value="说明书">说明书</option>
                            <option value="空托盘">空托盘</option>
                        </select>
                    </div>
                </div>

                <div class="form-group col-sm-6 col-lg-auto flex-sm-fill justify-content-sm-end align-self-sm-end">
                    <button style="margin:3px" type="button" id="btn_repeat" class="btn btn-primary btn-fill"><i class="fa fa-repeat" aria-hidden="true"></i><span>重置</span></button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="container-fluid">
    <div id="container1"></div>
    <div id="container2" class="col"></div>
    <div id="container3" class="col"></div>
</div>