<!DOCTYPE html>

<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title</title>

    <!-- Page level plugin CSS-->
    <link href="~/node_modules/startbootstrap-sb-admin/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/node_modules/startbootstrap-sb-admin/css/sb-admin.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="~/node_modules/startbootstrap-sb-admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template-->
    <link href="~/node_modules/startbootstrap-sb-admin/css/sb-admin.css" rel="stylesheet">

    <!-- Bootstrap core JavaScript-->
    <script src="~/node_modules/startbootstrap-sb-admin/vendor/jquery/jquery.min.js"></script>
    <script src="~/node_modules/startbootstrap-sb-admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/node_modules/startbootstrap-sb-admin/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- toastr JavaScript-->
    <link href="~/node_modules/toastr/build/toastr.css" rel="stylesheet" />
    <script src="~/node_modules/toastr/toastr.js"></script>

    <!-- Page level plugin JavaScript-->
    <script src="~/node_modules/startbootstrap-sb-admin/vendor/chart.js/Chart.min.js"></script>
    <script src="~/node_modules/startbootstrap-sb-admin/vendor/datatables/jquery.dataTables.js"></script>
    <script src="~/node_modules/startbootstrap-sb-admin/vendor/datatables/dataTables.bootstrap4.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/node_modules/startbootstrap-sb-admin/js/sb-admin.min.js"></script>

    <!-- Demo scripts for this page-->
    <script src="~/node_modules/startbootstrap-sb-admin/js/demo/datatables-demo.js"></script>
    <script src="~/node_modules/startbootstrap-sb-admin/js/demo/chart-area-demo.js"></script>
</head>
@RenderBody()
</html>