@{
    Layout = "_User";
    ViewData["Title"] = "Admin - Login";
}

@section css {

    <!-- Custom fonts for this template-->
    <link href="~/node_modules/startbootstrap-sb-admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template-->
    <link href="~/node_modules/startbootstrap-sb-admin/css/sb-admin.css" rel="stylesheet">

}
<body class="bg-dark">
    <div class="container">
        <div class="card card-login mx-auto mt-5">
            <div class="card-header">Login</div>
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <div class="form-label-group">
                            <input type="text" id="inputName" class="form-control" placeholder="Name" required="required" autofocus="autofocus">
                            <label for="inputName">邮箱</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-label-group">
                            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="required">
                            <label for="inputPassword">密码</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="remember-me"> 记住密码
                            </label>
                        </div>
                    </div>
                    <a id="Btnlogin" class="btn btn-primary btn-block">登录</a>
                </form>
                <div class="text-center">
                    <a class="d-block small mt-3" href="/Home/Register">注册新账号</a>
                </div>
            </div>
        </div>
    </div>
</body>
@section javascript {

    <!-- Bootstrap core JavaScript-->
    <script src="~/node_modules/startbootstrap-sb-admin/vendor/jquery/jquery.min.js"></script>
    <script src="~/node_modules/startbootstrap-sb-admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/node_modules/startbootstrap-sb-admin/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- toastr JavaScript-->
    <link href="~/node_modules/toastr/build/toastr.css" rel="stylesheet" />
    <script src="~/node_modules/toastr/toastr.js"></script>
    <script>
        $(function () {
            $('#Btnlogin').click(function () {
                if ($('#inputName').val() == "" || $('#inputPassword').val() == "") {
                    toastr.warning("账号密码不能为空!");
                    return;
                }
                $.ajax({
                    type: 'post',
                    url: '/Login',
                    contentType: 'application/json',
                    data: JSON.stringify({ "Name": $('#inputName').val(), "Pwd": $('#inputPassword').val() }),
                    datatype: 'json',
                    success: function (res) {
                        if (res.success) {
                            setTimeout(function () {
                                window.location.href = "/power/menu";
                            });
                        }
                        else {
                            toastr.error(res.message);
                        }
                    },
                    error: function (e) {
                        toastr.error(e.responseText);
                    }
                });
            });
        });
    </script>
}