<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" href="/favicon.png" />
    <title>后台管理</title>
    <link href="lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="lib/toastr.js/toastr.min.css" rel="stylesheet" />
    <link href="lib/nprogress/nprogress.min.css" rel="stylesheet" />
    <link href="lib/sweetalert/sweetalert2.min.css" rel="stylesheet" />
    <link href="lib/overlayscrollbars/OverlayScrollbars.min.css" rel="stylesheet" />
    <link href="css/theme.css?" rel="stylesheet" />
    <link href="css/theme-responsive.css" rel="stylesheet" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="css/site-responsive.css" rel="stylesheet" />
    <link href="css/lte.css" rel="stylesheet" />
    <!--[if lt IE 10 ]>
        <link href="../css/IE8.css" rel="stylesheet" />
    <![endif]-->
</head>
<body class="trans-mute">
    <!--[if lt IE 10 ]>
    <div id="ieAlert" class="alert alert-danger alert-dismissible">
        <div>当前浏览器版本太低，不支持本系统，请升级到至少IE10 <a href="../browser/IE10.exe" target="_blank">本地下载</a> <a href="https://support.microsoft.com/zh-cn/help/17621/internet-explorer-downloads" target="_blank">微软下载</a>，或者使用Chrome浏览器 <a href="../browser/ChromeSetup.exe" target="_blank">本地下载</a></div>
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
    </div>
    <![endif]-->
    <header class="header">
        <div class="bg"></div>
        <div class="d-flex align-items-center">
            <a id="navbar" href="#" class="sidebar-toggle-box">
                <i class="fa fa-bars"></i>
                <span id="websiteTitle">后台管理系统</span>
            </a>
            <div class="nav">
                <!-- tasks start -->
                <div class="dropdown">
                    <a data-toggle="dropdown" class="shadow-primary" href="#">
                        <i class="fa fa-tasks"></i>
                        <span id="msgHeaderTaskBadge" class="badge badge-pill badge-primary"></span>
                    </a>
                    <div class="dropdown-menu">
                        <div class="dropdown-arrow arrow-primary"></div>
                        <div id="msgHeaderTaskContent" class="dropdown-header bg-primary">您有 <span id="msgHeaderTask">0</span> 个未完成的任务</div>
                        <div class="dropdown-footer">
                            <a href="/Admin/Tasks">查看所有任务</a>
                        </div>
                    </div>
                </div>
                <!-- tasks end -->
                <!-- message dropdown start-->
                <div class="dropdown">
                    <a data-toggle="dropdown" class="shadow-info" href="#">
                        <i class="fa fa-envelope"></i>
                        <span id="msgHeaderMsgBadge" class="badge badge-pill badge-info"></span>
                    </a>
                    <div class="dropdown-menu">
                        <div class="dropdown-arrow arrow-info"></div>
                        <div id="msgHeaderMsgContent" class="dropdown-header bg-info">您有 <span id="msgHeaderMsg">0</span> 个未读的消息</div>
                        <div class="dropdown-footer">
                            <a href="/Admin/Messages">查看所有消息</a>
                        </div>
                    </div>
                </div>
                <!-- message dropdown end -->
                <!-- users dropdown start-->
                <div class="dropdown">
                    <a data-toggle="dropdown" class="shadow-success" href="#">
                        <i class="fa fa-user-plus"></i>
                        <span id="msgHeaderUserBadge" class="badge badge-pill badge-success"></span>
                    </a>
                    <div class="dropdown-menu">
                        <div class="dropdown-arrow arrow-success"></div>
                        <div id="msgHeaderUserContent" class="dropdown-header bg-success">您有 <span id="msgHeaderUser">0</span> 条新用户通知</div>
                        <div class="dropdown-footer">
                            <a href="/Admin/Notifications">查看所有通知</a>
                        </div>
                    </div>
                </div>
                <!-- users dropdown end -->
                <!-- apps dropdown start-->
                <div class="dropdown">
                    <a data-toggle="dropdown" class="shadow-warning" href="#">
                        <i class="fa fa-bug"></i>
                        <span id="msgHeaderAppBadge" class="badge badge-pill badge-warning"></span>
                    </a>
                    <div class="dropdown-menu">
                        <div class="dropdown-arrow arrow-warning"></div>
                        <div id="msgHeaderAppContent" class="dropdown-header bg-warning">您有 <span id="msgHeaderApp">0</span> 条程序异常通知</div>
                        <div class="dropdown-footer">
                            <a href="/Admin/Exceptions">查看所有异常</a>
                        </div>
                    </div>
                </div>
                <!-- apps dropdown end -->
                <!-- db dropdown start-->
                <div class="dropdown">
                    <a data-toggle="dropdown" class="shadow-danger" href="#">
                        <i class="fa fa-database"></i>
                        <span id="msgHeaderDbBadge" class="badge badge-pill badge-danger"></span>
                    </a>
                    <div class="dropdown-menu">
                        <div class="dropdown-arrow arrow-danger"></div>
                        <div id="msgHeaderDbContent" class="dropdown-header bg-danger">您有 <span id="msgHeaderDb">0</span> 条数据库异常通知</div>
                        <div class="dropdown-footer">
                            <a href="/Admin/Exceptions">查看所有异常</a>
                        </div>
                    </div>
                </div>
                <!-- db dropdown end -->
                <div class="dropdown">
                    <a class="shadow-success" href="/Account/Lock" data-toggle="tooltip" title="系统锁屏">
                        <i class="fa fa-tv"></i>
                    </a>
                </div>
            </div>
            <div class="dropdown userinfo">
                <a data-toggle="dropdown" class="dropdown-toggle shadow-default" href="#">
                    <img id="headerIcon" alt="" src="images/uploader/Admin.jpg?v=637082111758936886" />
                    <span id="userDisplayName" data-userName="Admin" class="username text-truncate d-inline-block">Administrator</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <div class="dropdown-item">
                        <div class="d-flex flex-fill align-items-center">
                            <img src="images/uploader/Admin.jpg?v=637082111758936886">
                            <div class="flex-fill">
                                <div class="username text-truncate">Administrator</div>
                                <div>登录名：Admin</div>
                            </div>
                        </div>
                    </div>
                    <div class="dropdown-item">
                        <a href="/Admin/Profiles"><i class=" fa fa-suitcase"></i>个人中心</a>
                        <a href="/Admin/Index"><i class="fa fa-cog"></i>设置</a>
                        <a href="/Admin/Notifications"><i class="fa fa-bell"></i>通知<span id="logoutNoti" class="badge badge-pill badge-success"></span></a>
                    </div>
                    <div class="dropdown-item">
                        <a href="/Account/Logout"><i class="fa fa-key"></i>注销</a>
                    </div>
                </div>
            </div>
        </div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Admin/Index"><i class="fa fa-home"></i>首页</a></li>
                <li class="breadcrumb-item d-none" id="breadNav"></li>
            </ol>
        </nav>
    </header>
    <aside class="">
        <div class="bg"></div>
        <div class="nav-brand justify-content-center">
            <a href="#">
                <img src=" https://client.sdgxgz.com/favicon.png" />
                <span>后台管理系统</span>
            </a>
        </div>
        <div class="nav-header flex-fill align-items-center">
            <a href="/Admin/Profiles">
                <img src="images/uploader/Admin.jpg" />
                <span class="username d-inline-block text-truncate flex-fill">Administrator</span>
            </a>
        </div>
        <!-- sidebar menu start-->
        <div class="sidebar">
            <ul class="nav-sidebar nav nav-pills flex-column flex-nowrap">
                <li class="nav-item">
                    <a href="/Admin/Notifications" class="nav-link " target="_self"><i class="fa fa-bell"></i><span class="flex-fill">通知管理</span></a>
                </li>
                <li class="nav-item parent">
                    <a href="#collapse_113" role="button" data-toggle="collapse" class="nav-link collapsed">
                        <i class="fa fa-gears"></i><span class="flex-fill">系统日志</span><i class="fa fa-angle-left"></i>
                    </a>
                    <div class="collapse" id="collapse_113">
                        <ul class="sub nav flex-column">
                            <li class="nav-item">
                                <a href="/Admin/Logs" class="nav-link " target="_self"><i class="fa fa-edit"></i><span class="flex-fill">操作日志</span></a>
                            </li>
                            <li class="nav-item">
                                <a href="/Admin/Logins" class="nav-link " target="_self"><i class="fa fa-user-circle-o"></i><span class="flex-fill">登录日志</span></a>
                            </li>
                            <li class="nav-item">
                                <a href="/Admin/Traces" class="nav-link " target="_self"><i class="fa fa-bars"></i><span class="flex-fill">访问日志</span></a>
                            </li>
                            <li class="nav-item">
                                <a href="/Admin/SQL" class="nav-link " target="_self"><i class="fa fa-database"></i><span class="flex-fill">SQL日志</span></a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Online" class="nav-link " target="_self"><i class="fa fa-users"></i><span class="flex-fill">在线用户</span></a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Analyse" class="nav-link " target="_self"><i class="fa fa-line-chart"></i><span class="flex-fill">网站分析</span></a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Exceptions" class="nav-link " target="_self"><i class="fa fa-cubes"></i><span class="flex-fill">程序异常</span></a>
                </li>
                <li class="nav-item parent">
                    <a href="#collapse_120" role="button" data-toggle="collapse" class="nav-link collapsed">
                        <i class="fa fa-gavel"></i><span class="flex-fill">工具集合</span><i class="fa fa-angle-left"></i>
                    </a>
                    <div class="collapse" id="collapse_120">
                        <ul class="sub nav flex-column">
                            <li class="nav-item">
                                <a href="/Admin/Mobile" class="nav-link " target="_self"><i class="fa fa-wrench"></i><span class="flex-fill">客户端测试</span></a>
                            </li>
                            <li class="nav-item">
                                <a href="/swagger" class="nav-link " target="_self"><i class="fa fa-wrench"></i><span class="flex-fill">API文档</span></a>
                            </li>
                            <li class="nav-item">
                                <a href="/Admin/FAIcon" class="nav-link " target="_self"><i class="fa fa-dashboard"></i><span class="flex-fill">图标集</span></a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item parent">
                    <a href="#collapse_124" role="button" data-toggle="collapse" class="nav-link collapsed">
                        <i class="fa fa-stethoscope"></i><span class="flex-fill">控件集合</span><i class="fa fa-angle-left"></i>
                    </a>
                    <div class="collapse" id="collapse_124">
                        <ul class="sub nav flex-column">
                            <li class="nav-item">
                                <a href="https://gitee.com/LongbowEnterprise/SliderCaptcha" class="nav-link " target="_self">
                                    <i class="fa fa-wrench"></i><span class="flex-fill">行为式验证码</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="http://longbowenterprise.gitee.io/longbow-select/" class="nav-link " target="_self">
                                    <i class="fa fa-bars"></i><span class="flex-fill">下拉框</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <!-- sidebar menu end-->
    </aside>
    <section id="main-content" class="main-content ">
            @*<div class="main-header">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/Admin/Index"><i class="fa fa-home"></i>首页</a></li>
                    <li class="breadcrumb-item d-none"></li>
                </ol>
            </div>
            <h4></h4>*@
        <iframe src="https://www.baidu.com/" frameBorder=0 height="100%" width="100%"></iframe>
     </section>
    <script src="lib/jquery/jquery.min.js"></script>
    <script src="lib/twitter-bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="lib/overlayscrollbars/jquery.overlayScrollbars.min.js"></script>
    <script src="lib/sweetalert/sweetalert2.min.js"></script>
    <script src="lib/nprogress/nprogress.min.js"></script>
    <script src="lib/toastr.js/toastr.min.js"></script>
    <script src="js/common-scripts.js"></script>
</body>
</html>
