<ul class="nav-sidebar nav nav-pills flex-column flex-nowrap">
    <li class="nav-item">
        <a href="/Admin/Notifications" class="nav-link " target="_self"><i class="fa fa-bell"></i><span class="flex-fill">通知管理</span></a>
    </li>
    <li class="nav-item parent">
        <a href="#collapse_113" role="button" data-toggle="collapse" class="nav-link collapsed">
            <i class="fa fa-gears"></i><span class="flex-fill">系统日志</span><i class="fa fa-angle-left"></i>
        </a>
        <div class="collapse" id="collapse_113">
            <ul class="sub nav flex-column">
                <li class="nav-item">
                    <a href="/Admin/Logs" class="nav-link " target="_self"><i class="fa fa-edit"></i><span class="flex-fill">操作日志</span></a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Logins" class="nav-link " target="_self"><i class="fa fa-user-circle-o"></i><span class="flex-fill">登录日志</span></a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Traces" class="nav-link " target="_self"><i class="fa fa-bars"></i><span class="flex-fill">访问日志</span></a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/SQL" class="nav-link " target="_self"><i class="fa fa-database"></i><span class="flex-fill">SQL日志</span></a>
                </li>
            </ul>
        </div>
    </li>
    <li class="nav-item">
        <a href="/Admin/Online" class="nav-link " target="_self"><i class="fa fa-users"></i><span class="flex-fill">在线用户</span></a>
    </li>
    <li class="nav-item">
        <a href="/Admin/Analyse" class="nav-link " target="_self"><i class="fa fa-line-chart"></i><span class="flex-fill">网站分析</span></a>
    </li>
    <li class="nav-item">
        <a href="/Admin/Exceptions" class="nav-link " target="_self"><i class="fa fa-cubes"></i><span class="flex-fill">程序异常</span></a>
    </li>

    <li class="nav-item parent">
        <a href="#collapse_120" role="button" data-toggle="collapse" class="nav-link collapsed">
            <i class="fa fa-gavel"></i><span class="flex-fill">工具集合</span><i class="fa fa-angle-left"></i>
        </a>
        <div class="collapse" id="collapse_120">
            <ul class="sub nav flex-column">
                <li class="nav-item">
                    <a href="/Admin/Mobile" class="nav-link " target="_self"><i class="fa fa-wrench"></i><span class="flex-fill">客户端测试</span></a>
                </li>
                <li class="nav-item">
                    <a href="/swagger" class="nav-link " target="_self"><i class="fa fa-wrench"></i><span class="flex-fill">API文档</span></a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/FAIcon" class="nav-link " target="_self"><i class="fa fa-dashboard"></i><span class="flex-fill">图标集</span></a>
                </li>
            </ul>
        </div>
    </li>
    <li class="nav-item parent">
        <a href="#collapse_124" role="button" data-toggle="collapse" class="nav-link collapsed">
            <i class="fa fa-stethoscope"></i><span class="flex-fill">系统日志</span><i class="fa fa-angle-left"></i>
        </a>
        <div class="collapse" id="#collapse_124">
            <ul class="sub nav flex-column">
                <li class="nav-item">
                    <a class="nav-link " target="_self">
                        <i class="fa fa-wrench"></i><span class="flex-fill">错误日志</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " target="_self">
                        <i class="fa fa-wrench"></i><span class="flex-fill">登录日志</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " target="_self">
                        <i class="fa fa-wrench"></i><span class="flex-fill">通信日志</span>
                    </a>
                </li>
            </ul>
        </div>
    </li>
</ul>